
.body{
  background-color:
}

.containerf{
  margin: 50px auto;
  width: 25%;
}

.blue{
  background-color: #0d6efd;
}

.btn-primary:hover{
  color: darkred;
}

.right{
  float: right;
}

.center{
  margin-right: auto;
  margin-left: auto;
}

.top-header{
  border-bottom: 1px solid #dddddd;
}

.top-header a {
    border-left: 1px solid #dddddd;
    padding: 10px 15px;
    display: inline-block;
}

.top-header a:last-child {
    border-right: 1px solid #dddddd;
}

.top-header h6{
    border-left: 1px solid #dddddd;
    padding: 10px 15px;
    display: inline-block;
}

a{
    color: #0d6efd;
    text-decoration: none !important;
    word-break: break-word;
}

a:visited{
  color: #0d6efd;
}

a:hover {
    color: darkred;
}

.hovered{
  color: darkred !important;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.main-header{
  padding: 0 0 35px 0;
  background-image: url(img/background.jpg);
}

.main-header .logo h1 {
    margin: 4px 0 0 0;
    font-size: 3em;
    padding-top: 20px;
}

.main-nav{
  background-color: #0d6efd;
  color: white;
  overflow: hidden;
  z-index: 10;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}


.ul-nav{
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-nav .list-menu ul li {
    display: inline-block;
    padding: 20px 30px;
    border-left: 1px solid #3598db;
}

.main-nav .list-menu ul li a {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}

.main-nav a {
    color: white;
}

.main-nav a:hover {
    color: darkred;
}

.main-nav .notification {
    text-align: right;
    padding-top: 20px;
}

.main-nav .list-menu ul li:last-child {
    border-right: 1px solid #3598db;
}

.main-content{
    margin: 60px 0;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 60px;
    z-index: 1;
}

.top-padding{
  padding-top: 65px;
}

.item-1{
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  height: 100%;
}


.item-content{
    border-top: 0;
    padding: 20px 20px 15px 20px;
    background-color: white;
    border: 1px solid #dddddd;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1;
}
.item-content h5{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}

.author{
    color: #0d6efd;
    display: block;
    text-align: right;
    font-size: 18px;
}

.item-content p{
  margin-bottom: 0 !important;
}

.item-content span.time{
  font-size: 15px;
  font-weight: 600;
  float: right;

}


.item-content span.category{
  font-size: 17px;
  font-weight: 600;
}

.info{

}


._ibg{
position: relative;
}
.item-thumb{
  overflow: hidden;
  max-width: 100%;
  padding: 0px 0px 50% 0px;
  align-items: center;
}


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.rowc{
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
}

.rowc-publishing{
      margin-right: -15px;
      margin-left: -15px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: space-between;
}

.publish-thumb{
  display: block;
  margin: auto;
  width: 100%;
}

.item-thumb img{
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.betw{
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.container-reg{
  width: 50%;
  margin: auto;
}

.container-reg .form-group{
  padding-bottom: 10px;
}

.container-reg .form-control-file{
  padding-top: 10px;
  width: 100%;
}



.page-wrap{
  max-width: 732px;
    margin: 0 auto;
}

.page{
    position: relative;
    padding: 21px 0;
}

.main-article{
  display: block;
}

.article-header{
    font-family: CustomSerif,Georgia,Cambria,'Times New Roman',serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.58;
    padding: 0;
    margin: 0;
    color: rgba(0,0,0,.8);
}

.main-article h1{
    font-family: CustomSansSerif,'Lucida Grande',Arial,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    margin: 21px 21px 12px;
    line-height: 34px;
}

.main-article address{
    font-family: CustomSansSerif,'Lucida Grande',Arial,sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #79828B;
    margin: 12px 21px;
    font-style: normal;
}

.main-article a{
  color: #79828B;
}

.article-container{
      white-space: normal;
}

.tent{
  font-family: CustomSerif,Georgia,Cambria,'Times New Roman',serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.58;
  padding: 0;
  margin: 0;
  color: rgba(0,0,0,.8);
}

.article-content p{
    margin: 0 21px 12px;
    word-wrap: break-word;
}

.article-thumbnail-img{
  margin: auto;
  display: block;
  object-fit: cover;
  width: 100%;
}

.article-content img{
  width: 100%;
}

.article-header time:before{
  content: '\2022';
  padding: 0 7px;
}

.article-header time{
  font-size: 15px;
}

.progress-bar {
    position: fixed;
    left: 0;
    top: 0;
    height: 4px;
    width: 0%;
    background: red;
}

.sort{
  border-bottom: 1px solid #dddddd;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.inl{
  display: inline-block;
}

.col-s{
  padding-right: 10px;
}

.clearbtn{
  float: right;
  margin-right: 10px;
}

.sortbtn{
  float: right;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
body {
	background: #f9f9f9;
	font-family: "Roboto", sans-serif;
}

.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}


.profile-tab-nav {
	min-width: 250px;
}

.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	color: #333;
}
.nav-pills a.nav-link i {
	width: 20px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #007bff;
}

.circleimg {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid #fff;
}

.circleimg:hover{
  cursor: pointer;
  border-color: #0d6efd;
}

.tab-pane .row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.border-right {
    border-right: 1px solid #dee2e6!important;
}

.formerror{
  margin-top: -0.6rem;
}

.displaynone{
  display: none;
}

.no-margin{
  margin-block-end: 0px !important;
  margin-left: 50%;
}

.low-margin{
  margin-block-end: 5px !important;
  margin-top: -10%;
}

.categories h5{
  font-size: 15px;
  line-height: 18px;
  color: #79828B;
  font-family: CustomSansSerif,'Lucida Grande',Arial,sans-serif;
  font-style: normal;
}

.buttons{
  margin-right: 10px;
}

.nocontent h1{
  font-size: 30px;
  line-height: 18px;
  color: #79828B;
  font-family: CustomSansSerif,'Lucida Grande',Arial,sans-serif;
  font-style: normal;
  text-align: center;
}

input:invalid {
  border: 2px dashed red;
}
