<html lang="en">
  <head>
    {% load static %}
    {% load customtags %}
    <script src="https://kit.fontawesome.com/31a80085e6.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
      <title>{% block title %} Posts | Newsmaker {% endblock %}</title>
  </head>

  <body>
    <div class="site-header">
      <div class="top-header">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-6"> </div>
              {% if request.user.is_authenticated %}
                 <div class="col-md-6 col-sm-6">
                <div class="top-header right">
                  <a href="/logout/">Log out</a>
                  <a href="/profile/{{ request.user.username }}"> {{ request.user.username }}</a>
                  </div>
                </div>
              </div>
                </div>
              {% else %}
              <div class="col-md-6 col-sm-6">
                <div class="top-header right">
                  <a href="/register/">Sign Up</a>
                  <a href="/login/">Log In</a>
                  </div>
                </div>
          </div>
            {% endif %}
        </div>
      </div>
      <div class="main-header">
        <div class="container">
              <div class="logo">
                <h1 style="text-align: center;"><a href="/home/">NewsMaker</a></h1>
              </div>
            </div>
      </div>
      <div class="main-nav" id="navbar">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-7">

                      <!-- <h1>{{ request.user.username }}</h1>
                      <h1>/profile/{{request.user.username}}/</h1>
                      <h1>'/profile/{{request.user.username}}'</h1>
                      <h1>{{ request.path }}</h1>
                      <h1>{% if '{{request.user.username}}' is string %} sjsbsfsf {% else %} x1x1x1 {% endif %} </h1> -->
                        <div class="list-menu">
                            <ul class="ul-nav">
                                <li><a href="/home" {% if request.path == '/home/' %} class="hovered" {% endif %}>Home</a></li>
                                <li><a href="http://127.0.0.1:8000/profile/{{ request.user.username}}" {% if request.path == '/profile/{{request.user.username}}/' %} class="hovered" {% endif %}>Profile</a></li>
                                {% if request.user|is_moderator %}
                                <li><a href="http://127.0.0.1:8000/publishing/">Publish</a></li>
                                {% endif %}
                                <li><a href="/about" {% if request.path == '/about/' %} class="hovered" {% endif %}>About</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-5">
                      <div class="list-menu right">
                          <ul class="ul-nav">
                              <li><a href="/search"><i class="fa-solid fa-magnifying-glass" {% if request.path == '/search/' %} class="hovered" {% endif %}></i></a></li>
                              <li><a href="/create" {% if request.path == '/create/' %} class="hovered" {% endif %}>WRITE</a></li>
                          </ul>
                    </div>


                </div>
            </div>
        </div> </div>
      </div>
    <div class="main-content" id="maincontent">
      <div class="container">
      {% block content %}
      {% endblock %}
      </div>
     </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript"> // When the user scrolls the page, execute myFunction
      window.onscroll = function() {myFunction()};

      // Get the navbar
      var navbar = document.getElementById("navbar");

      // Get the offset position of the navbar
      var sticky = navbar.offsetTop;

      // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
      function myFunction() {
        if (window.pageYOffset >= sticky) {
          navbar.classList.add("sticky")
          maincontent.classList.add("top-padding")
        } else {
          navbar.classList.remove("sticky");
          maincontent.classList.remove("top-padding")
        }
      }
      </script>

  </body>
</html>
