{% extends 'base.html' %}
{% block title %}Log in | Newsmaker {% endblock %}
    {% load static %}
    {% block content %}
    <div class="containerf">
      <div class="alert alert-danger alert-dismissible fade show displaynone" role="alert" id='incpass'>
        <strong>Username or password is incorrect! </strong>
      </div>
      <div class="alert alert-danger alert-dismissible fade show displaynone" role="alert" id='deactacc'>
        <strong>Email is not confirmed! </strong>
      </div>
      <form method="post" id="loginform">
        {% csrf_token %}
        <div class="mb-3">
          <label for="user" class="form-label">Username</label>
          <input type="user" name="user" class="form-control" id="user" aria-describedby="user">
        </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="password">
  </div>
  <button type="submit" class="btn btn-primary right blue">Log in</button>
</form>
    </div>
    <script>
     $(document).ready(function () {
         $('#loginform').submit(function () {
           $('#incpass').addClass('displaynone')
           $('#deactacc').addClass('displaynone')
             $.ajax({
                 data: $(this).serialize(),
                 type: $(this).attr('method'),
                 url: "{% url 'login_check' %}",
                 success: function (response) {
                   var get_url = new RegExp('\\?next=(.*)')
                   var text = "{{ request.get_full_path }}"
                   if (get_url.test(text)){
                     redirect_link = text.match(get_url)[1]
                      window.location.replace(redirect_link)
                   }
                   else {
                    window.location.replace('/home')
                   }
                 },
                 error: function (response) {
                     var x = response.responseJSON.error
                     if (x == 'data'){
                       $('#incpass').removeClass('displaynone')
                     }
                     else{
                       $('#deactacc').removeClass('displaynone')
                     }
                     console.log(response.responseJSON.errors)
                 }
             });
             return false;
         });
     })
    </script>

    {% endblock %}
