{% extends 'base.html' %}
{% block title %}New Article | Newsmaker {% endblock %}
    {% load static %}

    {% block content %}
    <div class="container-reg">
      <form method="post" enctype="multipart/form-data" id="articleform">
        {% csrf_token %}
        <div class="form-group">
    <img src='/media/{{ article.thumbnail }}' class="publish-thumb">
      </div>
        <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" value="{{ article.title }}">
      </div>
      <div class="form-group">
  <label for="description">Description</label>
  <input type="text" class="form-control" id="description" name="description" value="{{ article.description }}">
    </div>
    <div class="form-group">
    <label for="content">Article content</label>
    <textarea form="articleform" class="form-control" id="content" rows="3" name="content">{{ article.content|safe }}</textarea>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script>
      CKEDITOR.replaceAll();
    </script>
  </div>
  <div class="form-group">
    <label for="category">Category (Previous: {{ article.category.all|join:"+" }})</label>
      <select class="form-control" id="category" name="category" multiple>
        {% for choice in selected_choices %}
        <option selected>{{ choice }} </option>
        {% endfor %}
        {% for choice in choices %}
        <option>{{ choice }}</option>
        {% endfor %}
      </select>
  </div>
  <div class="form-group">
    <label for="content">Author</label>
    <input class="form-control" value="{{ article.author }}" disabled> </input>
  </div>
  <div class="form-group displaynone" id="declinegroup">
    <label for="content">Decline reason</label>
    <textarea form="articleform" class="form-control" id="reason" rows="3" name="reason" placeholder="Enter a decline reason here"></textarea>
  </div>
    <button type="submit" name="Apply" class="btn btn-primary right blue ">Apply</button>
    <button type="button" name="Decline" id="decline" class="btn btn-danger right buttons">Decline</button>
    </form>

    </div>
    <script>
      $( function()
          {
              var press_count = 0;
               $("#decline").click(function(event)
               {
                    press_count += 1;
                    if (press_count >= 2){
                      $('#decline').removeAttr("type").attr("type", "submit");
                    }
                    else {

                      $('#declinegroup').removeClass('displaynone')
                    }
               });
          });
     </script>

    {% endblock %}
